<html>

<head>
  <title>LA1:TV Hyperdeck Controller v 0.1</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-default" style="padding: 0 10px">

      <h1>Hyperdeck controller
        <h5>
          <div style="float: right">
            <% if(connected){%>Connected to hyperdeck.
              <%}else{%>Not Connected.
            <%};%>
          </div>
        </h5>
      </h1>

    <p>
      <div class='btn-group'>
        <button class="btn btn-primary" onclick="stop()">Stop</button>
        <button class="btn btn-success" onclick="play(100)">Play 100%</button>
        <button class="btn btn-success" onclick="play(25)">Play 25%</button>
        <button class="btn btn-danger" onclick="record()">Record</button>
      </div>
      <button class="btn btn-warning" onclick="newMarker()">NEW MARKER</button>
    </p>
  </nav>
<div class='container'>
  <p>

  </p>
    <ol>
      <% for(var i in markers){%>
        <ul>
          <div class="panel panel-default">
            <div class="panel-heading">
              <b>Timecode:</b>
              <%=markers[i].timecode%>

            <div class='btn-group'>
              <button class="btn btn-warning" onclick="decreaseTimecode()"><span class="glyphicon glyphicon-step-backward"></span></button>
              <button class="btn btn-warning" onclick="increaseTimecode()"><span class="glyphicon glyphicon-step-forward"></span></button>
            </div>
            <div style="float: right">
              <button class='btn btn-danger' onclick="removeMarker(<%=i%>)"><span class="glyphicon glyphicon-remove"></span></button>
            </div>

            </div>
            <div class="panel-body">
            <div class='btn-group'>
              <button class="btn btn-default" onclick="goto('<%=markers[i].timecode%>')">Go To</button>
              <button class="btn btn-success" onclick="play({speed: 100, tc: '<%=markers[i].timecode%>'})">Play 100% from start</button>
              <button class="btn btn-success" onclick="play({speed: 40, tc: '<%=markers[i].timecode%>'})">Play 40% from start</button>
            </div>

          </div>
          </div>
        </ul>
        <%}%>
    </ol>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('http://' + window.location.host);
    function play(speed) {
      socket.emit('play', speed);
    }
    function goto(data) {
      socket.emit('goto', data);
    }
    function stop() {
      socket.emit('stop', 'stop')
    }
    function goto(timecode) {
      socket.emit('goto', timecode)
    }
    function newMarker() {
      socket.emit('save')
      location.reload();

    }
    function removeMarker(ref) {
      socket.emit('delete', ref)
      console.log("delete" + ref)
      location.reload();

    }
	  function record(){
	    socket.emit('record', 'record')
    }
  </script>
</body>
</html>
